@font-face
{
	font-family: 'roboto-slab';
	src: 	url('fonts/RobotoSlab-Regular-webfont.eot');
	src: 	url('fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
			url('fonts/RobotoSlab-Regular-webfont.ttf') format('truetype');

}
	
body
{
	font-family: 'roboto-slab', serif;
	background: url('contenu/me.jpg') center top fixed no-repeat;
}

h2
{
	color: blue;
	text-align: center;
	border: 2px dashed blue;
	box-shadow: 3px 3px 10px black;
}

